#i_container{
  width: fit-content;
  margin: 0 auto;
  padding: 20px 100px;
  margin-top: 100px;
  background-color: #0c101e;
  color: #d0d0d0;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #FF652F;
  text-align: center;
}
