#kartaBox{
  background-color: #0c101e;
    top: 100px;
    margin: 0 auto;
    color: #d0d0d0;
    padding: 20px 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #FF652F;
}
#film_title{
  text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.kartaInfoPreText{
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  padding: 5px;
}
#sedista{
  width: 200px;
text-align: center;
margin: 0 auto;
margin-top: 20px;
}
#sedista option:hover{
  background-color: #192140;
}
#kupibtn,#deletebtn{
  margin-top: 30px;
font-size: 22px;
}
