body::before{
    content: "";
    background: url(./assets/background.jpg);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    opacity: 0.03;
    z-index: -1;
}
body{
	background-color: #070911;
}
input{
    background: 0;
    border-radius: 10px;
    padding: 5px;
    color: #d0d0d0;
    outline: 0 !important;
}
select{
  padding: 5px;
      border: 0;
      font-size: 18px;
      background-color: #293666;
      color: white;
      border-radius: 10px;
      outline: 0 !important;
      cursor: pointer;
}
.notetext{
  font-size: 14px;
    font-style: italic;
    margin-top: 12px;
}
.row{
  margin: 0 auto !important;
  padding: 0 !important;
}
.hidden{
  display: none;
}
.margin0{
	margin: 0 auto;
}
.talcen{
	text-align:center;
}
.width100{
  width: 100%;
}
.usernamelink{
  text-decoration: underline;
}
.logregdiv{
	background-color: #0c101e;
    color: #d0d0d0;
    border-radius: 20px;
    margin-top: 15%;
    border: 2px solid #FF652F;
    box-shadow: 0px 0px 5px #FF652F;
    padding: 10px;
}
.margin10{
	margin: 10px;
}
.padding10px{
  padding: 10px;
}
.orangebutton{
  margin: 0 auto;
      padding: 5px 10px;
      letter-spacing: 4px;
      border-radius: 10px;
      border: 0;
      background: rgb(195,75,33);
      background: radial-gradient(circle, rgba(195,75,33,1) 37%, rgba(255,101,47,1) 90%);
      color: #d0d0d0;
      position: relative;
      overflow: hidden;
      transition: 0.5s all ease;
  position:relative;
  outline: 0 !important;
}
.orangebutton:hover{
  box-shadow: 0px 0px 3px #FF652F;
}
.orangebutton:hover::before{
  clip-path: polygon(0 0,100% 0,100% 50%);

}
.orangebutton::before{
  content: "";
      width: 100%;
      height: 100%;
      background-color: white;
      left: 0;
      top: 0;
      position: absolute;
      opacity: 0.1;
      border-radius: 10px;
      clip-path: polygon(0 0,100% 0,100% 30%);
      transition: 0.5s all ease;
}
.orangebutton::after{
  content: "";
      position: absolute;
      width: 100%;
      height: 0.5vh;
      bottom: 0;
      left: 0;
      border-radius: 10px;
      background-color: black;
      opacity: 0.5;
}
.confirmbtn{
  background: rgb(0,97,3);
  background: radial-gradient(circle, rgba(0,97,3,1) 37%, rgba(15,64,19,1) 90%);
  border: 0;
  border-radius: 10px;
  letter-spacing: 4px;
  color: #d0d0d0;
  transition: 0.5s all ease;
  outline: 0 !important;
  overflow: hidden;
  position:relative;
  padding: 5px 10px;
}
.confirmbtn::before{
  content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: white;
      opacity: 0.1;
      border-radius: 10px;
      clip-path: polygon(0 0,100% 0,100% 30%);
      transition: 1s all ease;

}
.confirmbtn::after{
  content: "";
      position: absolute;
      width: 100%;
      height: 0.5vh;
      bottom: 0;
      left: 0;
      border-radius: 10px;
      background-color: black;
      opacity: 0.5;
}
.confirmbtn:hover{
  box-shadow: 0px 0px 3px #FF652F;
}
.confirmbtn:hover::before{
  clip-path: polygon(0 0,100% 0,100% 50%);
}
.redbtn{
  background: rgb(68,0,0);
  background: radial-gradient(circle, rgba(68,0,0,1) 37%, rgba(121,0,0,1) 90%);
  border: 0;
  border-radius: 10px;
  letter-spacing: 4px;
  color: #d0d0d0;
  transition: 0.5s all ease;
  outline: 0 !important;
  overflow: hidden;
  position:relative;
  padding: 5px 10px;
}
.redbtn::before{
  content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: white;
      opacity: 0.1;
      border-radius: 10px;
      clip-path: polygon(0 0,100% 0,100% 30%);
      transition: 1s all ease;

}
.redbtn::after{
  content: "";
      position: absolute;
      width: 100%;
      height: 0.5vh;
      bottom: 0;
      left: 0;
      border-radius: 10px;
      background-color: black;
      opacity: 0.5;
}
.redbtn:hover{
  box-shadow: 0px 0px 3px #FF652F;
}
.redbtn:hover::before{
  clip-path: polygon(0 0,100% 0,100% 50%);
}
#notificationdiv{
    position: absolute;
    z-index: 2;
    right: 0;
    width: 26vw;
    pointer-events: none;
    overflow: hidden;
    top: 0;
    height: 100vh;
}
.notification {
    margin-top: 2vh;
    background-color: #0e1221;
    width: 24vw;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    font-family: sans-serif;
    word-break: break-word;
    text-align: center;
    position: relative;
    float: right;
    transition: 0.5s all ease;
    cursor: pointer;
    pointer-events: all;
    right: 2vw;
    color: white;
}
.sakrivennotif{
  right: -50vw !important;
}
.dangnotif{
  border: 5px solid crimson;
  box-shadow: 0px 0px 5px crimson;
}
.sucnotif{
  border: 5px solid lime;
  box-shadow: 0px 0px 5px lime;
}
