#navdiv{
  width: 100%;
      display: inline-flex;
      padding: 0;
      margin: 0 auto;
      background-color: #0c101e;
      padding-top: 1vh;
      padding-bottom: 1vh;
      padding-left: 1%;
      padding-right: 1%;
      box-shadow: 0px 0px 2px #FF652F;
}
.nav-opcija:hover{
  color: #FF652F;
}
.nav-opcija{
  padding: 10px;
  transition: 0.5s all ease;
  display: none;
  color: white;
  font-size: 18px;
}
#nav_logo{
  transition: 0.5s all ease;
}
#nav_logo:hover{
  letter-spacing: 2px;
  color: #FF652F;
}
#nav_paste i{
  transition: 0.5s all ease;
}
#nav_paste:hover i{
  transform: rotate(360deg);
  color: #FF652F;
}
