#OnefilmDiv{
  width: fit-content;
    padding: 20px 70px;
    border-radius: 10px;
    border: 1px solid #FF652F;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #0c101e;
    color: #d0d0d0;
    font-size: 22px;
}
#OnefilmDiv textarea{
  background-color: #131a30;
      font-size: 16px;
      width: 100%;
      color: #d0d0d0;
      resize: none;
      margin-top: 20px;
      border-radius: 10px;
      padding: 10px;
      margin-left: -5px;
}
#OnefilmDiv .row{
  padding: 10px !important;
}
